<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jiahuan.mapper.analog.AnDynamicDivisorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jiahuan.entity.analog.AnDynamicDivisor">
        <id column="id" property="id"/>
        <result column="device_id" property="deviceId"/>
        <result column="divisor_id" property="divisorId"/>
    </resultMap>

    <select id="getDynamicDivisorByDeviceId" resultType="org.jiahuan.entity.analog.AnDynamicDivisor">
    select t1.*,t2.name as divisor_name,t2.code as divisor_code from an_dynamic_divisor t1 left join sys_divisor t2 on t1.divisor_id=t2.id
    where t1.device_id=#{deviceId}
    </select>

    <select id="getDynamicDivisorById" resultType="org.jiahuan.entity.analog.AnDynamicDivisor">
    select t1.*,t2.name as divisor_name,t2.code as divisor_code from an_dynamic_divisor t1 left join sys_divisor t2 on t1.divisor_id=t2.id
    where t2.id=#{id}
    </select>


</mapper>
