<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jiahuan.mapper.sys.SysDeviceNavigationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jiahuan.entity.sys.SysDeviceNavigation">
        <result column="id" property="id" />
        <result column="device_id" property="deviceId" />
        <result column="navigation_id" property="navigationId" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

</mapper>
