<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jiahuan.mapper.sys.SysDeviceMapper">

    <insert id="insertReturnId" parameterType="org.jiahuan.entity.sys.SysDevice" useGeneratedKeys="true" keyProperty="id">
INSERT INTO sys_device values(null,#{name},#{ip},#{port},#{mn},#{monitoringType},#{agreement},#{subpackage},#{subpackageNumber},#{gmtCreate},#{gmtModified});
    </insert>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jiahuan.entity.sys.SysDevice">
        <id column="id" property="id"/>
        <result column="ip" property="ip"/>
        <result column="port" property="port"/>
        <result column="mn" property="mn"/>
        <result column="type" property="type"/>
        <result column="protocol" property="protocol"/>
        <result column="gmt_creat" property="gmtCreat"/>
        <result column="gmt_modify" property="gmtModify"/>
    </resultMap>


</mapper>
